@use "../utilities/index" as var;

main {
  @include var.grid;
  @include var.largePhone{
    grid-template: none/repeat(auto-fit, minmax(0, 1fr));
    gap: 0;
    max-width: var.$large-phones;
  }
}
