@use "../utilities/index" as var;

body {
  min-height: 100vh;
  padding: var.$rem;
  background-color: var.$cream;

  @include var.largePhone{
    padding: 0;
  }

}

main {
  background-color: var.$white;
  border-radius: var.$rem;
  overflow: hidden;

  section picture img {
    max-width: 100%;
    display: block;
  }
}
