@use "../utilities/index" as var;

main {
  section {

    h1{
     position: absolute;
     top: var.$rem - 10000;
     left: var.$rem - 10000;

    }
    &.grid-body {
      padding: 0 var.$rem;

      h2{
        font-family: var.$montserat;
        font-weight: map-get(var.$weights, bold);
        margin: var.$rem 0;
        line-height: 1.5;
        color: var.$very-dark-blue;
        opacity: 0.6;
        letter-spacing: var.$rem - 0.5;
        text-transform: uppercase;
      }

      h3 {
        font-family: var.$fraun;
        font-weight: map-get(var.$weights, bold);
        font-size: var.$rem + 1;
        color: var.$very-dark-blue;
        opacity: 0.9;
      }

      p {
      @extend h2;
      letter-spacing: normal;
      text-transform: none;
      }
    }

    &.price-box {
      padding: var.$rem 0;

      h4 {
        font-family: var.$fraun;
        font-weight: map-get(var.$weights, semi-bold);
        font-size: var.$rem + 1;
        margin-right: var.$rem;
        color: var.$dark-cyan;
        opacity: 1;
      }

      span{
        @extend p;
        text-decoration: line-through;
      }
    }
  }
}
