@use "../utilities/index" as var;

main {
  a {
    @include var.flex(center, initial);
    background: var.$dark-cyan;
    margin-bottom: var.$rem + 0.5;
    padding: var.$rem;
    font-family: var.$montserat;
    border-radius: var.$rem - 0.5;
    font-weight: map-get(var.$weights, bold);
    color: var.$white;
    text-decoration: none;

    img {
      margin-right: var.$rem - 0.5;
    }

    &:focus {
      background-color: var.$active;
    }

    &:focus-visible {
      border: 1px solid;
    }
  }
}
