@use "variables" as var;

// grid
@mixin grid {
  display: grid;
  grid-template: repeat(auto-fit, minmax(0, 1fr)) / none;
  gap: var.$rem;
}

// flex
@mixin flex($align-items, $flex-direction) {
  display: flex;
  justify-content: center;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

// media queries
@mixin largePhone {
  @media screen and (min-width: var.$large-phones) {
    @content;
  }
}
